# --- ANDROID & KOTLIN ---
*.iml
.gradle/
local.properties
.externalNativeBuild/
.cxx/

# --- BUILD OUTPUT ---
build/
/*/build/
/captures/
out/
*.log
/*.txt

# --- IDEA / ANDROID STUDIO ---
.idea/
*.iws
*.ipr

# --- OS SPECIFIC ---
.DS_Store
Thumbs.db
desktop.ini

# --- SECRETS ---
secret.properties
*.jks
*.keystore
**/google-services.json
.env
CLAUDE.md
.claude
