# --- ANDROID & KOTLIN ---
*.iml
.gradle/
local.properties
.externalNativeBuild/
.cxx/
.kotlin/

# --- BUILD OUTPUT ---
build/
/*/build/
/captures/
out/
*.log
/*.txt
*.apk
*.aar
*.ap_
*.dex

# --- IDEA / ANDROID STUDIO ---
.idea/
*.iws
*.ipr
*.atlassian
/atlassian-ide-plugin.xml

# --- OS SPECIFIC ---
.DS_Store
Thumbs.db
desktop.ini

# --- SECRETS ---
secret.properties
*.jks
*.keystore
**/google-services.json
.env
CLAUDE.md
.claude

# --- OTHER ---
*.hprof
